In [25]:
import pandas as pd
import seaborn as sns
from langchain_core.documents import Document
import os
import google.generativeai as genai
from langchain_community.embeddings import HuggingFaceBgeEmbeddings

C:\Users\Harshal\AppData\Local\Temp\ipykernel_29308\2787893144.py:5: FutureWarning:

All support for the `google.generativeai` package has ended. It will no longer be receiving
updates or bug fixes. Please switch to the `google.genai` package as soon as possible.
See README for more details:

https://github.com/google-gemini/deprecated-generative-ai-python/blob/main/README.md

  import google.generativeai as genai

In [6]:
data = sns.load_dataset('tips')

In [7]:
data.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [33]:
# Extract Roows from excel and put them serially in text 
context =''
for idx,row in data.iterrows():
    row_text = '|'.join(f"{col}:{row[col]}" for col in data.columns
                         if pd.notna(row[col]) )
    
    context = context + row_text +'\n'

In [29]:
print(context)

In [30]:
data.tail(2)

     total_bill   tip     sex smoker   day    time  size
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [32]:
# Step 1 : Lets  configure the Model

# LLM MODEL
gemini_key = os.getenv('Google_API_Key2')
genai.configure(api_key=gemini_key)
model = genai.GenerativeModel('gemini-2.5-flash-lite')

In [35]:
prompt = 'What is the maximum bill paid by male and female'

augmented_prompt = f'''
<Role> You are a helpful assistant using RAG
<Goal> Answer the question asked by the user. Here is the question {prompt} 
<Context> Here are the documents retrieved from the vector database to support the answer which you have to generate
{context}
'''

In [36]:
# Step 8 : Generation (G)

response = model.generate_content(augmented_prompt)
print(response.text)

- The maximum bill paid by males is 50.81.
- The maximum bill paid by females is 44.30.